@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.font-weight-light{
  font-weight: 400;
}

.font-weight-normal{
  font-weight: 500;
}

.font-weight-bold{
  font-weight: 700;
}

.navbar-nav .active{
  color: #000;  
}

.navbar-nav .nav-item:visited{
  color: #8e1705;
}

.myTitles{
  font-size: 1.3rem;
}

.mySubTitles{
  font-size: 0.7rem;
  font-weight: bold;
}

.myTitlesBanner{
  font-size: 2rem;
}

.mySubTitlesBanner{
  font-size: 1.4rem;
  color: #fff;
}

.titlesIcon{
  font-size: 1.3rem;
}

.textIcon{
  font-size: 0.8rem; 
}

.bannerPrincipal{
  background-image: url('../imagenes/fletesbanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.containerIconos{
  width: 100%;
}

.containerIconos .icon{
  width: 100px;
  border-radius: 1%;
  box-sizing: border-box;
}

.containerIconos .imagenMudanza{
   border: 1px solid #ccc;
  display: block;
  width: 100%;
}

.transicionIconosInicio{
  transition: all 200ms ease-in-out;
}

.transicionIconosInicio a:hover{
  transition: scale(1.1);
}

.bannerPrincipal .container{
  z-index: 1;
}

.bannerPrincipal p, .containerIconos p{
  margin-bottom: 0;
}

.imagenMudanza{
  width: 200px;
}

.containerPresupuesto{
  background-color: #f2f6f8
}

.botonPresupuesto{
  color:#000;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:5px;
  padding-right:5px;
  border-style: solid;
}

.botonPresupuesto:hover{
  background-color:#000;
  color: #fff;
}

.mySubTitles2{
  font-size: 0.9rem;
  font-weight: bold;
}


@media all and (min-width: 768px){
  .myTitles{
    font-size: 2rem;
  }
  
  .mySubTitles{
    font-size: 1rem;
  }

  .mySubTitles2{
    font-size: 1rem;
  }
  
  .myTitlesBanner{
    font-size: 3.4rem;
    top: 48%;
    left: 42%;
    position: absolute;
    margin-left: -150px;
    margin-top: -25px;
  }
  
  .mySubTitlesBanner{
    font-size: 2.3rem;
    top: 56%;
    left: 46%;
    position: absolute;
    margin-left: -150px;
    margin-top: -25px;
  }

  .containerIconos .icon{
    width: 100px;
  }

  .imagenMudanza{
    width: 350px;
  }

  .botonPresupuesto{
    font-weight: 400;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
  }

  .titlesIcon{
    font-size: 1.7rem;
  }

  .textIcon{
    font-size: 1.1rem; 
  }

  .containerQuienes p{
    margin-left: 200px;
    margin-right: 200px;
    padding: 0px;
  }

  .containerQuehacemos{
    margin-left: 350px;
    margin-right: 350px;
    padding: 0px;   
  }
}


/*footer*/ /*aclaracion: como hago para que los iconos no se note el negro en contraste con el fondo, porq el color negro de la barra no es puro y se nota*/
.containerFooter .bg-dark{
  background-color: black;
}

/*no me toma el color blanco en el copyright*/
.textoCopyright{
  color: #fff;
}


/* aca empieza servicios*/ 
.bannerServicios{
  background-image: url('../imagenes/fletesbanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 100vh;
  position: relative;
  background-attachment: fixed;  
}

.transicionServicios img{
  transition: all 200ms ease-in-out;
}

.transicionServicios img:hover{
    transform: scale(1.1);
}

.textColor{
  color: #8e1705;
}


@media all and (min-width: 768px){
  .transicionClientes img{
    width: 100%;
  }  
}


/*aca empieza clientes*/
#bannerClientes{
  background-image: url('../imagenes/bannerclientes.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

.transicionClientes img{
  transition: all 200ms ease-in-out;
}

.transicionClientes img:hover{
    transform: scale(1.1);
}

.textColor{
  color: #8e1705;
}

.transicionTextoNosotros{
  transition: all 200ms ease-in-out;
}

.transicionTextoNosotros p:hover{
  transform: scale(1.1);
}


@media all and (min-width: 768px){
  .transicionClientes img{
    width: 100%;
  }  
}


/* aca empieza nosotros*/
.textoNosotros{
  font-size: 0.8rem;
  margin-top: 20px;
}

.tituloNosotros{
  font-weight: 100;
  font-size: 1.5rem;
  color: #8e1705;
}

.imagenNosotros{
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.imagenNosotros:hover{
    transform: scale(1.1);
}

@media all and (min-width: 768px){
  .textoNosotros{
    font-size: 1.2rem;
  }

  .tituloNosotros{
    font-size: 2rem;
  }
}


/* aca empieza contacto*/
.containerContacto{  
  max-width: 750px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


textarea{
  background-color: #fbfbfb; 
  max-width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #8e1705; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

.textColor{
  color: #8e1705;
}

form .row{
  padding-right: 5px;
  padding-left: 5px;
}

input .form-check-input{
  margin-right: 5px;
}

input .form-check-input:checked{
  color: #fff;
}

#bannerMapa{
  background-image: url('../imagenes/mapabanner.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 30vh;
  position: relative;
}

@media all and (min-width 768px){
  .img-fluid{
    max-width: 100%;
  }

}

