@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-weight-light {
  font-weight: 400;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.navbar-nav .active {
  color: #000;
}

.myTitles {
  font-size: 1.3rem;
}

@media all and (min-width: 768px) {
  .myTitles {
    font-size: 1.6rem;
  }
}

.mySubTitles {
  font-weight: bold;
}

.mySubTitles {
  font-size: 0.7rem;
}

@media all and (min-width: 768px) {
  .mySubTitles {
    font-size: 1rem;
  }
}

.mySubTitles2 {
  font-size: 0.9rem;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .mySubTitles2 {
    font-size: 1rem;
  }
}

.myTitlesBanner {
  font-size: 2rem;
}

@media all and (min-width: 768px) {
  .myTitlesBanner {
    font-size: 3.4rem;
    top: 48%;
    left: 42%;
    position: absolute;
    margin-left: -150px;
    margin-top: -25px;
  }
}

.mySubTitlesBanner {
  font-size: 1.4rem;
  color: #fff;
}

@media all and (min-width: 768px) {
  .mySubTitlesBanner {
    font-size: 2.3rem;
    top: 56%;
    left: 46%;
    position: absolute;
    margin-left: -150px;
    margin-top: -25px;
  }
}

.titlesIcon {
  font-size: 1.3rem;
}

@media all and (min-width: 768px) {
  .titlesIcon {
    font-size: 1.7rem;
  }
}

.textIcon {
  font-size: 1.2rem;
}

@media all and (min-width: 768px) {
  .textIcon {
    font-size: 1.3rem;
  }
}

.textColor {
  color: #000;
}

.bannerPrincipal {
  background-image: url("../imagenes/fletesbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.bannerPrincipal .container {
  z-index: 1;
}

.bannerPrincipal p {
  margin-bottom: 0;
}

.containerIconos {
  width: 100%;
}

@media all and (min-width: 768px) {
  .containerIconos .icon {
    width: 100px;
    padding: 5px;
  }
}

.containerIconos .imagenMudanza {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  width: 200px;
}

@media all and (min-width: 768px) {
  .containerIconos .imagenMudanza {
    width: 400px;
  }
}

.imagenMudanza {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  width: 200px;
}

@media all and (min-width: 768px) {
  .imagenMudanza {
    width: 350px;
  }
}

.transicionIconosInicio {
  transition: all 200ms ease-in-out;
}

.transicionIconosInicio a:hover {
  transition: scale(1.1);
}

.containerCarrousel {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.containerCarrousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.containerPresupuesto {
  background-color: #f2f6f8;
}

.botonPresupuesto {
  color: #000;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
}

@media all and (min-width: 768px) {
  .botonPresupuesto {
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.botonPresupuesto:hover {
  background-color: #000;
  color: #fff;
}

.containerQuienes {
  background-color: #f2f6f8;
}

@media all and (min-width: 768px) {
  .containerQuienes p {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0px;
  }
}

@media all and (min-width: 768px) {
  .containerQuehacemos {
    margin-left: 350px;
    margin-right: 350px;
    padding: 0px;
  }
}

.containerFooter.bg-dark {
  background-color: #000;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-weight-light {
  font-weight: 400;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.bannerServicios {
  background-image: url("../imagenes/fletesbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.transicionServicios img {
  transition: all 200ms ease-in-out;
}

.transicionServicios:hover {
  transform: scale(1.1);
}

.textColor {
  color: #000;
}

@media all and (min-width: 768px) {
  .transicionClientes img {
    width: 100%;
  }
}

.containerServicios {
  margin-left: 10px;
}

@media all and (min-width: 768px) {
  .containerServicios {
    padding: 0px;
  }
}

.containerServicios p {
  margin-left: 20px;
  margin-right: 20px;
}

@media all and (min-width: 768px) {
  .containerServicios img {
    margin-left: 100px;
    padding: 0px;
  }
}

.containerFotos {
  margin-left: 10px;
}

@media all and (min-width: 768px) {
  .containerFotos {
    padding: 0px;
    margin-left: 0px;
  }
}

.containerFotos p {
  margin-left: 20px;
  margin-right: 20px;
}

@media all and (min-width: 768px) {
  .containerFotos img {
    padding: 0px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-weight-light {
  font-weight: 400;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.bannerClientes {
  background-image: url("../imagenes/bannerclientes.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

.transicionClientes img {
  transition: all 200ms ease-in-out;
}

@media all and (min-width: 768px) {
  .transicionClientes {
    width: 100;
  }
}

.transicionClientes:hover {
  transform: scale(1.1);
}

.textColor {
  color: #000;
}

.transicionTextoNosotros p {
  transition: all 200ms ease-in-out;
}

.transicionTextoNosotros:hover {
  transform: scale(1.1);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-weight-light {
  font-weight: 400;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.textoNosotros {
  font-size: 0.8rem;
  margin-top: 20px;
}

@media all and (min-width: 768px) {
  .textoNosotros .textoNosotros {
    font-size: 1.2rem;
  }
}

.tituloNosotros {
  font-weight: 100;
  font-size: 1.5rem;
  color: #000;
}

@media all and (min-width: 768px) {
  .tituloNosotros {
    font-size: 2rem;
  }
}

.imagenNosotros {
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.imagenNosotros:hover {
  transform: scale(1.1);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-weight-light {
  font-weight: 400;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.containerContacto {
  max-width: 750px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

textarea {
  background-color: #fbfbfb;
  max-width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #8e1705;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.textColor {
  color: #000;
}

form .row {
  padding-right: 5px;
  padding-left: 5px;
}

input .form-check-input {
  margin-right: 5px;
}

input:checked {
  color: #fff;
}

@media all and (min-width: 768px) {
  .img-fluid {
    max-width: 100%;
  }
}
