@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.font-weight-light{
  font-weight: 300;
}
.font-weight-normal{
  font-weight: 400;
}
.font-weight-bold{
  font-weight: 700;
}


.myTitles{
  font-size: 2rem;
}
.mySubTitles{
  font-size: 1.5rem;
}
@media all and (min-width: 768px){
  .myTitles{
    font-size: 3rem;
  }
  .mySubTitles{
    font-size: 2rem;
  }
}

#banner{
  background-image: url('../imagenes/caminobanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

#containerIconos .icon{
  width: 100px;
  border-radius: 1%;
  box-sizing: border-box;
}

#banner > .container{
  z-index: 1;
}

#banner p, #containerIconos p{
  margin-bottom: 0;
}



/* aca empieza servicios*/ 

#bannerServicios{
  background-image: url('../imagenes/fletesbanner.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

/*
.contenidoServicios{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.contenidoServicios img {
  width: 250px;
  height: 250px;
  transition: all 200ms ease-in-out;
}

.contenidoServicios img:hover{
  transform: scale(1.1);
}

.contenidoServicios ul{
  width: 80%;
  padding: 5px;
  margin: 5% 0;
  box-sizing: border-box;
  border: 2px solid #000;
  text-decoration: none;
}

.contenidoServicios ul li{
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/*media queries servicios*/
/*@media all and (min-width: 768px) {
  .contenidoServicio{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  .contenidoServicios img{
    width: 50%;
    height: auto;
  }

  .contenidoServicios ul{
    width: 50%;
    padding: 15px;
    margin: 0 5%;
    box-sizing: border-box;
  }
} */


/*aca empieza clientes*/

#bannerClientes{
  background-image: url('../imagenes/bannerclientes.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

.transicionClientes img{
  transition: all 200ms ease-in-out;
}

.transicionClientes img:hover{
    transform: scale(1.1);
}

/* aca empieza nosotros*/

.containerNosotros{
  width: 100px;
  box-sizing: border-box;
}

.containerNosotros img {
  width: 500px;
  height: 500px;
  margin-top: 100px;
  margin-left: 20px;
  padding: 20px;
}


/*
.nosotrosTitulo{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.contenidoNosotros {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
.contenidoNosotros img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: 20px;
  transition: all 200ms ease-in-out;
  padding: 20px;
}

.contenidoNosotros img:hover{
  transform: scale(1.1);
}

.contenidoNosotros p {
  width: 70%;
  padding: 5px;
  margin-top: 0 5%;
  box-sizing: border-box;
}*/

/*media queries nosotros
@media all and (min-width: 768px) {
.nosotrosTitulo{
	width: 10%;
    top: 10%;
    left: 60%;
    font-size: 40px;
    margin-top: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.contenidoNosotros{
    margin: 5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenidoNosotros img{
    width: 50%;
    height: auto;
}

.contenidoNosotros p{
    width: 50%;
    padding: 15px;
    margin: 0 5%;
    box-sizing: border-box;
}

}*/



/* aca empieza contacto*/

#bannerMapa{
  background-image: url('../imagenes/mapabanner.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

