@import "variables";
@import "tools";

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-weight-light{
  font-weight: 400;
}

.font-weight-normal{
  font-weight: 500;
}

.font-weight-bold{
  font-weight: 700;
}

.bannerClientes{
  background-image: url('../imagenes/bannerclientes.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

.transicionClientes{
  img{
    transition: all 200ms ease-in-out;  
  }
  @media all and (min-width: 768px){
    width: 100;
  }  
  &:hover{
    transform: scale(1.1);
  }
}

.textColor{
  color: $tituloColor;
}

.transicionTextoNosotros{
  p{
    transition: all 200ms ease-in-out;  
  }
  &:hover{
    transform: scale(1.1);  
  }
}